.journal{
    margin: 30px 10px;
    margin-bottom: 10px;
}
.line_box_c{
    display: flex;
}
.titl_care{
    color: black;
    text-decoration: none;
}
.titl_care:hover{
    color: gray;
}
.box_carrer{
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    width: 60vw;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}