@media (width<=400px){
    
  .ep_img{
    width: 100%!important;
  }
   .ep_box{
    flex-direction: column!important;
}
}
@media (width<=600px){
    
    .ep_box{
        flex-direction: column!important;
    }
}
@media (600px> width <=800px) {
  
    .ep_img{
        width: 250px;
    }
}

.ep_box{
    display: flex;
    margin: 20px ;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}
.ep_img{
    border-radius: 10px;
    width: 300px;
}
.leb{
    display: flex;
    align-items: center;
    justify-content: center;
}
.reb{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px;
}
.ep_title{
    font-weight: 800;
}
.no_ep{
    display: flex;
    margin-left: 20px;
}
.no_ep div{
  color: gray;
  font-size: 1.5rem;
  margin-left: 10px;
  display: flex;
  align-items: center;
}