.profile{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.act{
    height: 70vh;
    border-radius: 10px;
    margin-bottom: 20px;
}
.actimg{
    height: 200px;
    width: 140px;
    border-radius: 10px;
}
.actname{
    font-weight: 700;
}
.right_profile{
    width: 60vw;
}
.knownlist{
    display: flex;
    width: 80%;
    overflow: scroll;
}
.ke{
    margin: 0 10px;
}
.choose_pro{
    display: flex;
    
}
.choose_pro p{
    margin: 20px 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
}
.choose_pro p:hover{
    color: gray;
}
.active{
    border-bottom: 2px solid black;
}