@media (width<=700px) {
    .searchbox{
        width: 100vw;
    }
    .navcontainer{
        padding: 0 1rem;
    }
    .trailbox{
        width: 100vw;
    }
    .titlecontainer{
        width: 100vw;
    }
    .rowbox{
        width: 100vw;
    }
    .list{
        display: none;
    }
    .des{
        padding: 0;
    }
    .des h2{
        margin-top: 10px;
        font-size: 30px;
    }
    .search{
        width: 95vw;
        font-size: 1rem;
    }
    .infimg {
        height: 250px;
    }
    .inflight{
        flex-direction: column;
    }
    .credits{
        padding: 0px;
        margin-top: 10px;
    }
    .inFo{
        flex-direction: column;
    }
    .cast{
        width: 100vw;
    }
    .infohr{
        width: 100vw;
        margin: 0;
    }
    .review{
        margin-left: 6px;
    }
    .revbox{
        width: 96vw;
        box-shadow: 0px 0px 1px 1px rgba(135, 134, 134, 0.75)!important
    }
    .review{
        word-break: break-all;
    }
    .image_season {
        height: 150px;
    }
    .season{
        width: 100vw;
        margin: 0;
    }
    .act{
        height: 162px;
    }
    .profile{
        flex-direction: column;
    }
    .left_profile{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    .lpa{
        display: flex;
        height: 70vh;
        /* max-height: 10vh; */
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100vw;
        padding-left: 10px;
    }
    .right_profile{
        width: 98vw;
        padding-left: 10px;
    }
    .knownlist{
        width: 98vw;
    }
    .box_carrer{
        width: 90vw;
        margin-left: 10px;
    }
    .des{
        padding-left: 10px;
    }
    .birthplace,.knownfor,.birthday{
        max-width: 30vw;
        
    }
    .also{
        max-width: 40vw;
    }
    .member_wholecrew{
        flex-direction: column;
    }
    .allcrew{
        width: 100vw;
    }
    .title_wholecrew{
        font-size: 1.5rem;
    }
    .wholerevbox {
      
        flex-direction: column;
    }
    .spn{
        font-size: 20px;
    }
    .castmem{
        height: 169px;
    border-radius: 10px;
     width: unset;
    }
    .imgdetinfo{
        height: 253px!important;
    }
    .original_nameinfo{
        font-weight: 600!important;
    }
    .oribox{
        align-items: center;
    }
    .fs h3{
        font-size: 16px;
    }
    .wholereview_reviews{
        margin-top: 5px;
    }
    .leftinfo h1{
        font-size: 20px;
    }
    .leftinfo{
        margin: 0 10px;
    }
    .obhead{
        font-size: 20px;
    }
   
}

@media (width<=800px) {
    .resbox{
        width: 95vw;
    }
    .wholereview{
        width: 100vw;
    }
    .reviewer{
        height: 30px;
        margin: 10px!important;
    }
   .top_review{
    margin-top: 0!important;
   }
   .rowtitle{
    margin-left: 4px;
   }
  
}
@media (width <= 1000px) {
    .rb{
        display: none;
    }
}
