@media (width<=500px) {
    .searchbox{
        width: 100vw;
    }
    .navcontainer{
        padding: 0 1rem;
    }
    .trailbox{
        width: 100vw;
    }
    .titlecontainer{
        width: 100vw;
    }
    .rowbox{
        width: 100vw;
    }
    .list{
        display: none;
    }
    .des{
        padding: 0;
    }
    .search{
        width: 98vw;
    }
    .infimg {
        height: 250px;
    }
    .inflight{
        flex-direction: column;
    }
    .credits{
        padding: 0px;
        margin-top: 10px;
    }
    .inFo{
        flex-direction: column;
    }
    .cast{
        width: 100vw;
    }
    .infohr{
        width: 100vw;
        margin: 0;
    }
    .review{
        margin-left: 6px;
    }
    .revbox{
        width: 96vw;
    }
    .headrev_review{
        flex-direction: column;
    }
    .review{
        word-break: break-all;
    }
    .image_season {
        height: 150px;
    }
    .season{
        width: 100vw;
        margin: 0;
    }
    .act{
        height: 162px;
    }
    .profile{
        flex-direction: column;
    }
    .left_profile{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    .lpa{
        display: flex;
        height: 70vh;
        /* max-height: 10vh; */
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100vw;
        padding-left: 10px;
    }
    .right_profile{
        width: 98vw;
        padding-left: 10px;
    }
    .knownlist{
        width: 98vw;
    }
    .box_carrer{
        width: 90vw;
        margin-left: 10px;
    }
    .des{
        padding-left: 10px;
    }
    .birthplace,.knownfor,.birthday{
        max-width: 30vw;
        
    }
    .also{
        max-width: 40vw;
    }
    .member_wholecrew{
        flex-direction: column;
    }
    .allcrew{
        width: 100vw;
    }
    .title_wholecrew{
        font-size: 1.5rem;
    }
    .wholerevbox {
      
        flex-direction: column;
    }
}
@media (width<=800px) {
    .resbox{
        width: 95vw;
    }
    .wholereview{
        width: 100vw;
    }
}